/* main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --primary: #FFF5FD;
  --secondary: #31343D;
  --tertiary: #b12704;
  --light: #fafafa;
  --dark: #799FBA;
  --darker: #76385D;
  --alpha: rgba(255,255,255,.7);
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--primary);
  color: var(--secondary);
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 5rem;
  margin: 50px 20px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 2rem;
}

a {
  color: var(--light);
  text-decoration: none;
  opacity: .5;
}

a:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
}

aside {
  background: var(--primary);
}

aside a {
  color: var(--light);
}

aside {
  height: 200px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

aside h1 {
  position: relative;
  z-index: 2;
}

nav {
  position: relative;
  font-family: 'Playfair Display', serif;
  font-size: 2.2rem;
  margin: 30px 20px;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  text-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
  margin: 0 50px;
}

.navActive {
  color: var(--secondary);
  cursor: default;
  text-shadow: 3px 3px 15px rgba(255,255,255, .5);
} */

/* Login  */
.app-login_page__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

}


form{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 30vw;
  
}
@media only screen and (max-width: 600px) {

  form{
      width: 80vw;
  }
}
form input{
  margin: 1rem;
  padding: 1rem;
  border-radius: 9px;
  border: 2px solid #000000;
  outline: none;
  min-width: 12rem;
}
form label{
  margin:0 1rem;
}

#loginBtn {
  margin: 1rem;
  padding: 1rem;
  border-radius: 9px;
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
  width: 10rem;
  height: 2.75rem;
  justify-content: center;
  align-items: center;
}

/* form button #loginBtn{
  margin: 1rem;
  padding: 1rem;
  border-radius: 9px;
  border: 2px solid #000000;
  outline: none;
  cursor: pointer;
  background-color: #000000;
  color: #FFFFFF;
  width: 8rem;
  height: 2.75rem;
} */

.app-landing_page__container__header-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
.lin{
  margin-bottom: 1rem;
}
.app-landing_page__container__header-title h1{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 4.8125rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

/* Calendar */
.today-tile {
  background-color: #ffc107 !important;
  border: 2px solid #333 !important;
}

.selected-tile {
  background-color: aquamarine !important;
  border: 2px solid #333 !important;
}
